  <mat-form-field>
    <input matInput formControlName="username">
    <mat-placeholder class="placeholder">Enter Your Name</mat-placeholder>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" autocomplete="new-password" formControlName="email">
    <mat-placeholder class="placeholder">Enter Your Email</mat-placeholder>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput></textarea>
    <mat-placeholder class="placeholder">Enter Your Address</mat-placeholder>
  </mat-form-field> 