<app-header></app-header>
<app-navigation></app-navigation>
<div class="single-product-container">
  <div class="single-product-wrapper">
    <div class="single-product-wrapper-left">
      <div class="single-product-wrapper-left1">
        <div class="single-product-wrapper-left11">
          <div class="image-list-div">
            <ul class="product-image-ul">
              <li
                *ngFor="let iname of product_imageList"
                (mouseover)="product_image = iname.imgName"
                [ngStyle]="{
                  outline:
                    product_image == iname.imgName
                      ? '2px solid #2874F0'
                      : 'none'
                }"
              >
                <div
                  class="product-image"
                  [ngStyle]="{
                    background: 'url(' + iname.imgName + ') no-repeat'
                  }"
                ></div>
              </li>
            </ul>
          </div>

          <div class="main-image-magnifier-container">
            <div class="main-image-magnifier">
              <!-- <img [src]="product_image" alt="" class="magnifier-image"> -->
              <img
                id="imgZoom"
                (mousemove)="zoomIn($event)"
                (mouseout)="zoomOut()"
                [src]="product_image"
                class="magnifier-image"
                *ngIf="product_image"
              />
            </div>
          </div>
        </div>
        <div class="single-product-wrapper-left12">
          <div class="like-btn">
            <div style="margin-top: -3px;">
              <i class="fa fa-heart" (click)="onLikeClick()" id="like"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="single-product-wrapper-left2">
        <div class="single-product-left2-container">
          <ul>
            <li>
              <button class="add-to-cart-btn" (click)="onBtnClick()">
                <svg
                  class="_3oJBMI"
                  width="16"
                  height="16"
                  viewBox="0 0 16 15"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class=""
                    d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
                    fill="#fff"
                  ></path>
                </svg>
                &nbsp; {{ exist_into_cart ? "GO TO CART" : "ADD TO CART" }}
              </button>
            </li>

            <li (click)="onBuyNowClick()">
              <button class="buy-now-btn">
                <div class="buy-now-btn-logo"></div>
                BUY NOW
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="single-product-wrapper-right">
      <!-- <div style="padding-left: 5%;display: inline-block;"> -->

      <div
        id="overlay"
        [ngStyle]="{ background: '#FFFFFF url(' + product_image + ')' }"
        *ngIf="product_image"
      ></div>
      <!-- </div> -->
      <div class="single-product-right">
        <div class="single-product-right1">
          <div class="single-product-right11">
            <span *ngIf="product">{{ product.product_name }}</span
            ><br />
            <span *ngIf="product">{{ product.product_short_description }}</span>
          </div>
          <div class="single-product-right12">
            <div class="single-product-price">
              <span *ngIf="product">&#8377; {{ product.product_price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <img id="imgZoom" (mousemove)="zoomIn($event)" (mouseout)="zoomOut()" [src]="product_image"
class="magnifier-image">
<div id="overlay" (mousemove)="zoomIn($event)" [ngStyle]="{'background': 'url('+product_image+')'}"></div> -->
<!-- <ngx-image-zoom
    [thumbImage]="product_image"
    magnification= 2.5
    enableLens= true
    lensWidth= 300
    lensHeight= 200
    maxZoomRatio= 1
></ngx-image-zoom> -->
<!-- <div id="overlay3">
    <img [src]="product_image" id="imgZoom2"
    class="magnifier-result-image"
    [ngStyle]="{'transform': 'translateY('+(-posY*2)+'px)' }"
    >
</div> -->
